<p><b>id:</b> {{ user.id }}</p>
<p><b>Name:</b> {{ user.name }}</p>
<p><b>Surname:</b> {{ user.surname }}</p>
<p><b>Age:</b> {{ user.age }}</p>
<p><b>Date of birth:</b> 14 Dec 1995</p>
<p><b>Address</b></p>
<p><b>City</b> {{ user.address.city }}</p>
<p><b>Street</b> {{ user.address.street }}</p>
<p><b>Postal code</b> {{ user.address.postalCode }}</p>
<p><b>Role</b> {{ user.role }}</p>
<p><b>Username</b> {{ user.username }}</p>
<img [src]="user.profilePhotoUrl" [alt]="user.name" />
<p><b>Gender</b> {{ user.gender }}</p>
<p>
  <b>Company: {{ user.companies[0].name }}</b>
</p>
<p>Description: {{ user.companies[0].description }}</p>
<p>
  <b>Company: {{ user.companies[1].name }}</b>
</p>
<p>Description: {{ user.companies[1].description }}</p>
