<div
  class="container border my-1 w-50"
  *ngFor="let user of users; let i = index"
  [ngClass]="{
    'border-danger': user.role === 'staff',
    'border-info': user.role === 'manager',
    'border-warning': user.role === 'admin'
  }"
>
  <div class="col-3" *ngIf="user">
    <div class="row">
      <div class="box">
        <p>{{ i + 1 }}</p>
        <img
          style="max-height: 80px"
          [src]="user.profilePhotoUrl"
          [alt]="user.name"
        />
        <h4>{{ user.name + user.surname }}</h4>
        <p>{{ user.age }}</p>
        <p>{{ user.address.city }}</p>
        <div class="btn btn-danger" (click)="deleteUser(user)">Elimina</div>
        <div class="btn btn-info" (click)="selectedUser(user)">Dettagli</div>
      </div>
      <div class="box" *ngIf="userSelected === user">
        <p>
          {{ user.address.city }} {{ user.address.postalCode }}
          {{ user.address.street }}
        </p>
        <div class="btn btn-danger" (click)="deleteSelected()">X</div>
      </div>
    </div>
  </div>
</div>

<!-- {
  'border border-primary': user.role === 'staff',
  'border border-secondary': user.role === 'student',
  'border border-danger': user.role === 'manager',
  'border border-info': user.role === 'admin'
} -->
