<div class="container" *ngFor="let user of users; let i = index">
  <div class="col-3" *ngIf="user">
    <div class="row">
      <div class="box">
        <p>{{ i + 1 }}</p>
        <img
          style="max-height: 80px"
          [src]="user.profilePhotoUrl"
          [alt]="user.name"
        />
        <h4>{{ user.name + user.surname }}</h4>
        <p>{{ user.age }}</p>
        <p>{{ user.address.city }}</p>
        <div class="btn btn-danger" (click)="deleteUser(user)">Elimina</div>
      </div>
    </div>
  </div>
</div>
